python -m interaction_exploration.run     --config interaction_exploration/config/intexpGT.yaml     --mode eval     ENV.NUM_STEPS 1024     NUM_PROCESSES 1     EVAL.DATASET interaction_exploration/data/test_episodes_K_16.json     TORCH_GPU_ID 0 X_DISPLAY :1     CHECKPOINT_FOLDER interaction_exploration/cv/intexpGT_Traverse_open_close/run0/ LOAD interaction_exploration/cv/intexpGT_Traverse_open_close/run0/ckpt.6.pth 


python -m interaction_exploration.run     --config interaction_exploration/config/intexpGT_no_interact.yaml     --mode eval     ENV.NUM_STEPS 1024     NUM_PROCESSES 1     EVAL.DATASET interaction_exploration/data/test_episodes_K_16.json     TORCH_GPU_ID 0 X_DISPLAY :1     CHECKPOINT_FOLDER interaction_exploration/cv/intexpGT_Traverse_no_interact/run0/ LOAD interaction_exploration/cv/intexpGT_Traverse_no_interact/run0/ckpt.4.pth 


#python -m interaction_exploration.run     --config interaction_exploration/config/intexpGT.yaml     --mode eval     ENV.NUM_STEPS 1024     NUM_PROCESSES 1     EVAL.DATASET interaction_exploration/data/test_episodes_K_16.json     TORCH_GPU_ID 0 X_DISPLAY :1     CHECKPOINT_FOLDER interaction_exploration/cv/intexpGT_Traverse_E2E/run0/ LOAD interaction_exploration/cv/intexpGT_Traverse_E2E/run0/ckpt.6.pth 

python -m interaction_exploration.run     --config interaction_exploration/config/intexpGT.yaml     --mode eval     ENV.NUM_STEPS 1024     NUM_PROCESSES 1     EVAL.DATASET interaction_exploration/data/test_episodes_K_16.json     TORCH_GPU_ID 0 X_DISPLAY :1     CHECKPOINT_FOLDER interaction_exploration/cv/intexpGT_Traverse_E2E_new/run0/ LOAD interaction_exploration/cv/intexpGT_Traverse_E2E_new/run0/ckpt.8.pth 


Future Work:
Extending to find good trajectories for finding occludede but not hidden 
Embedding semantics

Add photos of ambiguos cases
Explain the plots better
Emphasize on empty drawers

Talk about Low-Level Mem



